<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Tuition Reimbursement Management System (TRMS)</display-name>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>servlets.LoginServlet</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>EmployeeHomeServlet</servlet-name>
		<servlet-class>servlets.EmployeeHomeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ManagementHomeServlet</servlet-name>
		<servlet-class>servlets.ManagementHomeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BenefitsCoordinatorHomeServlet</servlet-name>
		<servlet-class>servlets.BenefitsCoordinatorHomeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AjaxServlet</servlet-name>
		<servlet-class>servlets.AjaxServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeHomeServlet</servlet-name>
		<url-pattern>/EmployeeHomeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManagementHomeServlet</servlet-name>
		<url-pattern>/ManagementHomeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BenefitsCoordinatorHomeServlet</servlet-name>
		<url-pattern>/BenefitsCoordinatorHomeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AjaxServlet</servlet-name>
		<url-pattern>/AjaxServlet</url-pattern>
	</servlet-mapping>


</web-app>
