<settings>
	<servers>
		<server>
			<id>maven.oracle.com</id>
			<username>matthew.o.mccormick@gmail.com</username>
			<password>{FQkMjex3rq4H+3oD6+e+t52Zupemj+5ZfHvxDBS86ZE=}</password>
			<configuration>
				<basicAuthScope>
					<host>ANY</host>
					<port>ANY</port>
					<realm>OAM 11g</realm>
				</basicAuthScope>
				<httpConfiguration>
					<all>
						<params>
							<property>
								<name>http.protocol.allow-circular-redirects</name>
								<value>%b,true</value>
							</property>
						</params>
					</all>
				</httpConfiguration>
			</configuration>
		</server>
	</servers>
</settings>